.not-found-wrapper {
    text-align: center;

    .page-not-found-image {
        width: 70%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
        height: 100%;
    }
}